.subcategory {
  margin-left: 20px;
}

hr.separator {
  border-top: 2px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
}

.linked_tag {
  margin: 0 5px;
}

.date_range {
  width: 240px;
  margin-right: 10px;
}